setuptools
evaluate
transformers
accelerate
datasets
SQLAlchemy
geopandas
h11
h5py
huggingface-hub
hydra-core
imageio
keras
matplotlib
numpy
omegaconf
opencv-python
packaging
pandas
Pillow
plotly
promise
protobuf
psutil
ptvsd
py
pyarrow
pytorch-lightning
pytz
PyWavelets
PyYAML
rasterio
ray
requests
responses
retry
scipy
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-metadata
tqdm
einops
wandb
scikit-learn
pyquaternion
pytest
aioboto3
retry
aiofiles
bokeh
ujson
pyinstrument
shapely
pyogrio